/**
 * styles for Admin site
 * June 1, 2020
 * by Dawn Baker
 */

/* add neighborhood */
div.add_hood{
    padding-bottom: 20px;
}

/*search button */
div.search {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
.search form {
    float: left;
}
.clear{
    clear: both;
}
.error {
    color: #f00;
    font-weight: bold;
  }
/* flash messaging options */
.flash {
    width: 100%;
    line-height: 40px;
    font-weight: bold;
    padding: 0;
    margin:0;
    text-align: center;
}
.flash_error {
    color: #bf3d42;
    background: #fae3e4;
    font-weight: bold;
    border: 1px solid #900;
}
.success {
    color: #000;
    border: 1px solid #013610;
    background: #e3faea;
    font-weight: bold;
}
    /*end flash messaging*/